@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body{
  background-image: url("../resources/background.jpg");
  color: #FFF;
}

.container{
  background: #231B21;
}
h1{
  text-decoration-style: double;
}

.hinge{
  position: absolute;
  z-index: 3 !important;
}
#title{
  width: 100%;
}

#team{
  width: 100% !important;
  margin: 0;
}

h3{
  font-family: 'Permanent Marker', cursive;
}

.info{
  padding: 5%;
}

.disc{
  width: 33%;
  padding: 5%;
}

.disc > img{
  width: 100%;
}
